@model SustainAndGain.Models.ModelViews.CompetitionVM[]
@{
    ViewData["Title"] = "UserLayout";
}
    <link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />

    <div class="navbar">

        <ul>
        
            <li>
                <img src="~/Img/profile.png" />

            </li>
            <li>
                <img src="~/Img/Plusprofile.png" />
                
            </li>
            <li>

                <img src="~/Img/Userprofile.png" />
                
            </li>
        </ul>

    </div>
@* SLides for tävlingar *@
    <h2>Tävling</h2>
    <div class="slideContainer">
        <div class="slide">@Model[0].StartTime</div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        
        
    </div>


   