
@{
    ViewData["Title"] = "UserLayout";
}
    <link href="~/css/UserLayout.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />

    <div class="navbar">

        <ul>
        
            <li>
                <img src="~/Img/profile.png" />

            </li>
            <li>
                <img src="~/Img/Plusprofile.png" />
                
            </li>
            <li>

                <img src="~/Img/Userprofile.png" />
                
            </li>
        </ul>

    </div>
    <h2>Tävling</h2>
    <div class="card-carousel">
        <div class="my-card"></div>
        <div class="my-card"></div>
        <div class="my-card"></div>
        <div class="my-card"></div>
        
        
    </div>


   