@model SustainAndGain.Models.ModelViews.UserLoginVM

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Index.css?t=<%= @DateTime.Now.Ticks %>" rel="stylesheet" />
<div class="Flexbox">
    
    <img src="~/Img/SustainGain.svg" />
</div>
<div class="LoginDiv">

    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input id="usernameForm" asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input id="passwordForm" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
            <a asp-action="Register">Register new account</a>
        </div>
    </form>



</div>
