html {
    margin: 0;
    padding: 0;
    height: 100%;
    zoom:0.8;
    font-size: 2vh;
}
@font-face {
    font-family: 'quicksand-regular';
    src: url('../img/quicksand-regular.otf') format('opentype');
}
#PortPro {
    position: relative;
    height: 7vh;
    border-radius: 25%;
}
body {
  
    margin: 0;
  
  
    height: 100%;
}
.col-md-4{
    flex: 1;
    max-width:100%;
}

#example_wrapper{
    width:100%;
    padding:3%;
}

table {
    background-color: #fff;
    transition: all 1s;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.06);
   width:75%;
    padding: 5%;
    margin-top: 2%;
   
}
button, input[type=submit] {
    border-radius: 4px;
    transition: all 1s;
    background-color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}
    button:hover, input[type=submit]:hover {
        background-color: #28D2BF;
        box-shadow: 5px 5px 2px #2D8068;
    }
#PersInfo {
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.8);
    font-size:5vh;
    border-radius: 4px;
   
}
.PersDivs{
    padding: 4%;
    margin-right:5%;
}
#OrderForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.8);
    
    border-radius: 4px;
}
.form-group {
    padding: 1%;
}