html {
    background: linear-gradient(to bottom right, #177775, #28D2BF, white);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-size: 2vh;
  
}

body {
    height: 100%;
    background-color: rgba(0,0,0,0);
    margin-bottom: 0;
    padding: 0;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
}





.LoginDiv {
    position: relative;
    height: 100%;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 5em;
    margin-right: 5em;
    background: rgba(300, 300, 300, 0.2);
    padding-bottom: 10px;
    border-radius: 30px;
}
#ArrowPro {
    border-radius: 50%;
    height: 4em;
    position: fixed;
    top: 30%;
    display: block;
    transition: all 1s;
    left: -30px;
    transform: rotate(180deg);
}
    #ArrowPro:hover {
        left: 0;
    }

.icon {
    padding: 10px;
    min-width: 40px;
} 
img {
    position: relative;
    height:10em;
 
}
.Flexbox{
    padding-top: 2em;
   display:flex;
   align-items:center;
   justify-content:center;
}
form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*.input-validation-error {
    width: 100%;
    background-image: url('../img/isolated-monochrome-black.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 40px;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', arial;
    display: inline;
    opacity: 0.5;
    border-radius: 30px;
    box-sizing: border-box;
    background-position-x: 1em;
    background-position-y: center;
}*/


#usernameForm {
    
    background-image: url('../img/isolated-monochrome-black.svg');
  
}
#passwordForm {
    background-image: url('../img/password-black.svg');
}
#emailForm{

}
#passwordForm, #usernameForm, #emailForm {
    background-size: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', arial;
    display: inline;
    opacity: 0.5;
    border-radius: 30px;
    box-sizing: border-box;
    background-position-x: 1em;
    background-position-y: center;
}



button, input[type=submit] {
    font-family: 'Franklin Gothic Medium', arial;
    width: 100%;
    padding-bottom: 2em;
   
    position: relative;
    border-radius: 30px;
    transition: background-color 1s, box-shadow 1s;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover, input[type=submit]:hover {
    background-color: #28D2BF;
    box-shadow: 5px 5px 2px #2D8068;
}
#RegisterBtn{
    width:50%;
    padding-bottom:0;
}



