html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
   margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    background: linear-gradient(to bottom right, #177775, #28D2BF, white);
    background-size: cover;
}



#text {
    opacity: 0;
    left: -100px;
    color: #f2f2f2;
    font-size: 15px;
    overflow: hidden;

    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: left;
    animation: fade 1s ease 3.5s forwards;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
        left: -100px;
    }

    to {
        opacity: 1;
        left: 20PX;
    }
}

@keyframes fade {
    from {
        opacity: .4;
        left: -500px;
    }

    to {
        opacity: 1;
        left: 20PX;
    }
}

.LoginDiv {
    position: relative;
  
    height: 100%;
    padding-top: 70px;
    margin-top: 20px; 
    background: rgba(300, 300, 300, 0.2);
    padding-bottom: 70px;
    border-radius: 30px;
  
}

.icon {
    padding: 10px;
    min-width: 40px;
} 
img {
    position: relative;
    height:10em;
 
}
.Flexbox{
   display:flex;
   align-items:center;
   justify-content:center;
}
form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*.input-validation-error {
    width: 100%;
    background-image: url('../img/isolated-monochrome-black.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 40px;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', arial;
    display: inline;
    opacity: 0.5;
    border-radius: 30px;
    box-sizing: border-box;
    background-position-x: 1em;
    background-position-y: center;
}*/


/*#usernameForm {
    width: 100%;
    background-image: url('../img/isolated-monochrome-black.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 40px;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', arial;
    display: inline;
    opacity: 0.5;
    border-radius: 30px;
    box-sizing: border-box;
    background-position-x: 1em;
    background-position-y: center;
}*/
#passwordForm {
    background-size: 20px;
    background-image: url('../img/password-black.svg');
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', arial;
    display: inline;
    opacity: 0.5;
    border-radius: 30px;
    box-sizing: border-box;
    background-position-x: 1em;
    background-position-y: center;
}


input[type=submit] {
    font-family: 'Franklin Gothic Medium', arial;
    width: 100%;
    padding-bottom: 2em;
   
    position: relative;
    border-radius: 30px;
    transition: background-color 1s, box-shadow 1s;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #28D2BF;
    box-shadow: 5px 5px 2px #2D8068;
}



