body {
    background: linear-gradient(to bottom, rgba(23, 119, 117,0.7), rgba(40, 210, 191,1)), url('../img/stockimg.jpg');
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Quicksand;
}
h1 {
    text-align: left;
    margin-left: 1.5em;
    color:white;
    font-family:Quicksand;
}
#PortPro {
    border-radius: 50%;
    height: 15em;
    position: absolute;
    top: -30px;
    display: block;
    transition: all 1s;
    left: -30px;
}
#ArrowPro {
    border-radius: 50%;
    height: 4em;
    position: absolute;
    top: 30%;
    display: block;
    transition: all 1s;
    left: -30px;
    transform:rotate(180deg);
}
#ArrowPro:hover {
    left: 0;
}
#Chart_Overv{
    display:flex;
    align-items: center;
    justify-content: center;
}
#divChart {
   
    position: relative;
    width: 70%;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    
}
#CurrentValue {
    background: rgba(255,255,255,0.8);
    margin-right: 10%;
    border-radius: 4px;
}
.col-sm-10, .col-sm-2{
    width:10em;
   font-size: 20px;
   text-align: center;
   padding: 2%;
}
#divPendingOrders {
    background: rgba(255,255,255,0.8);
  width:50%;
    border-radius: 4px;
}
#divHoldings {
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    
}



#closeButton{
    background-color:lightcyan; 
    display:none;   
    right:0;
    /*right:0px;*/

}

#Highscore {

    padding-right: 4%;
    width: 5%;
    height: 4em;
    position: fixed;
    right: 15px;
    top: 100px;
    border-bottom-left-radius: 25px;
    
}

#openButton {
    right: 10px;
    background-color:lightcyan;
    
}


#mySidebar{
    background-color:lightcyan;
    width: 120%;
    padding:5%;
}


/*#divChart {
    position: relative;
    width: 70%;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
}*/
