html {
    margin: 0;
    padding: 0;
    height: 100%;
   
    overflow-x: hidden;
    font-family: Quicksand;
    font-size: 2vh;
}
body {
  
    margin: 0;
    padding-left: 10%;
    padding-right: 15%;
    font-family: Quicksand;
    zoom: 0.8;
    height:100%;
}
#Content{
    position:absolute;
    z-index: 5;
    height: 100%;
}
h1 {
    text-align: left;
    margin-left: 1.5em;
    color:white;
    font-family:Quicksand;
}
#PortPro {
    border-radius: 50%;
    height: 15em;
    position: absolute;
    top: -30px;
    display: block;
    transition: all 1s;
    left: -30px;
    z-index:-1;
}
#ArrowPro {
    border-radius: 50%;
    height: 4em;
    position: absolute;
    top: 30%;
    display: block;
    transition: all 1s;
    left: -30px;
    transform:rotate(180deg);
}
#ArrowPro:hover {
    left: 0;
}
#Chart_Overv{
    display:flex;
    align-items: center;
    justify-content: center;
}
#divChart {
   
    position: relative;
    width: 70%;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    
}
#CurrentValue {
    background: rgba(255,255,255,0.8);
    margin-right: 10%;
    border-radius: 4px;
}
.col-sm-10, .col-sm-2{
    width:10em;
  
   text-align: center;
   padding: 2%;
}
#divPendingOrders {
    background: rgba(255,255,255,0.8);
  width:50%;
    border-radius: 4px;
}
#divHoldings {
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    
}



#closeButton {
    background-color: lightcyan;
    display: none;
    right: 0;
    border-radius: 10px;
}

#Highscore {
  
    
    width: 15%;
    height: 1em;
    position: fixed;
    right: 0;
    top:10em;
    border-bottom-left-radius: 25px;
    
}

#openButton {
   
    background-color: lightcyan;
    border-radius: 10px;
}


#mySidebar {
    border-radius: 10px;
    background-color: lightcyan;
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
    
}

.leftpan {
    left: -14%;
    width: 70%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

    .leftpan .background-img {
        background: linear-gradient(to bottom right, #177775, #28D2BF, white);
       
    }

.rightpan {
    right: -20%;
    width: 79%;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
}



    .rightpan .content-area {
        -webkit-transform: skew(-8deg);
        -moz-transform: skew(-8deg);
        -o-transform: skew(-8deg);
    }


    .rightpan .background-img {
        background-image: url('../img/stockimg.jpg');
        -webkit-transform: skew(10deg);
        -moz-transform: skew(10deg);
        -o-transform: skew(10deg);
        opacity:0.5;
        animation:animatedBackground 2s ease-in-out;
    }

.background-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.leftpan .content-area {
    -webkit-transform: skew(8deg);
    -moz-transform: skew(8deg);
    -o-transform: skew(8deg);
}

.rightpan .content-area {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

.content-area {
    text-align: center;
    margin: 20vh auto;
    width: 350px;
}

    .content-area h2 {
        font-size: 2.8rem;
        margin-bottom: 50px
    }
.hpanel {
    z-index:-1;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}
@keyframes animatedBackground {
    from {
        
       right: -100px;
    }

    to {
       right:0;
    }
}