html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
}
body {
    zoom: 0.8;
}
h4{
    
}

#CompPro {
    border-radius: 50%;
    height: 15em;
    position: absolute;
    top: -30px;
    display: block;
    transition: all 1s;
    left: -30px;
}
h1 {
    text-align: left;
    margin-left: 30vh;
    color: white;
    font-family:Quicksand;
    z-index: 5;
    position:absolute;
   
}

button, input[type=submit] {
    z-index: 5;
    width: 100%;
    height: 7vh;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    transition: background-color 1s;
    background-color: white;
    margin-top: 70%;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
   button:hover, input[type=submit]:hover {
        background-color: #28D2BF;
        
       
    }



body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    background-repeat: no-repeat;
    background-size: contain;
}


h2{
    padding-top: 2%;
    text-align: center;
}
.slideContainer {
    padding-top:10%;
    position: absolute;
    display: flex;
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index:5;
}
.slide {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    width: 15%;
    height: 25em;
    border-radius: 25px;
   
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    margin: 2%;
    transition: z-index 0.4s ease;
    opacity: 0.8;
    transition: all 1s;
   
}
    .slide:hover {
        opacity: 1;
        transform: scale(1.1);
        
    }




.hpanel {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}
@keyframes animatedBackground {
    from {
        background-size: cover;
        background-position: 0% 22%;
    }

    to {
        background-size: cover;
        background-position: 100% 22%;
    }
}
@-webkit-keyframes test {
    0% {
        background-image: url('../img/nat1.jpg');

    }

    20% {
        
        background-image: url('../img/nat2.jpg');
    }

    40% {
        
        background-image: url('../img/nat3.jpg');
    }

    60% {
       
        background-image: url('../img/nat4.jpg');
    }

    80% {
        background-image: url('frame-05.png');
    }

    100% {
        background-image: url('frame-06.png');
    }
}

    .leftpan {
        left: -4%;
        width: 60%;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
    }

        .leftpan .background-img {
            
            -webkit-animation: test 20s infinite ease-in-out;
           
        }

    .rightpan {
        right: -20%;
        width: 79%;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
    }

/*.thirdpan .background-img {
    background-image: url('../img/nat4.jpg');
}*/

.rightpan .content-area  {
    -webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
}
/*.thirdpan {
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    right: -4%;
    width: 20%;
}*/

.rightpan .background-img {
    background: linear-gradient(to bottom right, #177775, #28D2BF, white);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
}

    .background-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .leftpan .content-area {
        -webkit-transform: skew(8deg);
        -moz-transform: skew(8deg);
        -o-transform: skew(8deg);
    }

    .rightpan .content-area {
        -webkit-transform: skew(-8deg);
        -moz-transform: skew(-8deg);
        -o-transform: skew(-8deg);
    }

    .content-area {
        text-align: center;
        margin: 20vh auto;
        width: 350px;
    }

    .content-area h2 {
        font-size: 2.8rem;
        margin-bottom: 50px
    }

