html {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow-x: hidden;
 
}
#Portfolio{
    display:none;
}

body {
    
   margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(to bottom right, #177775, #28D2BF, white);
    background-size: cover;
    
    
}
.navbar img{
    
    height:70%;
    top: -20px;
    position:relative;
    display: block;
    border-radius: 50%;
    transition: all 1s;
}
    .navbar img:hover {
        top: 0;
        
    }
.navbar {
   padding-right: 4%;
    width: 10%;
    height: 4em;
    position: fixed;
    right: 0;
    top: 0;
    border-bottom-left-radius: 25px;
}
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       position:relative;
       height:100%;
       display:flex;
       
    }
    .navbar li{
        justify-content:center;
        align-items:center;
        height:100%;
        width:100%;
        position:relative;
        padding:1%;
        display:block;
    }
 
li{
    list-style: none;
}
h2{
    padding-top: 2%;
    text-align: center;
}
.slideContainer {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.slide {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    width: 15%;
    height: 400px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    margin: 2%;
    transition: z-index 0.4s ease;
    opacity: 0.5;
    transition: all 1s;
   
}
.slide:hover{
    opacity:1;
    transform: scale(1.2);
}
