html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: Quicksand;
}
h4{
    font-family:Quicksand;
}
@font-face {
    font-family: 'quicksand-regular';
    src: url('../img/quicksand-regular.otf') format('opentype');
}
#CompPro {
    border-radius: 50%;
    height: 15em;
    position: absolute;
    top: -30px;
    display: block;
    transition: all 1s;
    left: -30px;
}
h1 {
    text-align: left;
    margin-left: 4em;
    color: white;
    font-family: Quicksand;
}

button, input[type=submit] {
    font-family: 'Franklin Gothic Medium', arial;
    width: 100%;
    padding-bottom: 2em;
    position: relative;
    bottom:0;
    border-radius: 30px;
    transition: all 1s;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
   button:hover, input[type=submit]:hover {
        background-color: #28D2BF;
        box-shadow: 5px 5px 2px #2D8068;
    }


#ButtonJavaDiv0,
#ButtonJavaDiv1,
#ButtonJavaDiv2,
#ButtonJavaDiv3 {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
  background-image: url('../img/natureedit (2).png'),linear-gradient(to bottom right, #177775, #28D2BF, white);
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar img{
    
    height:70%;
    top: -20px;
    position:relative;
    display: block;
    border-radius: 50%;
    transition: all 1s;
}
    .navbar img:hover {
        top: 0;
        
    }
.navbar {
   padding-right: 4%;
    width: 10%;
    height: 4em;
    position: fixed;
    right: 0;
    top: 0;
    border-bottom-left-radius: 25px;
}
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       position:relative;
       height:100%;
       display:flex;
       
    }
    .navbar li{
        justify-content:center;
        align-items:center;
        height:100%;
        width:100%;
        position:relative;
        padding:1%;
        display:block;
    }
 
li{
    list-style: none;
}
h2{
    padding-top: 2%;
    text-align: center;
}
.slideContainer {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.slide {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    width: 15%;
    height: 400px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    margin: 2%;
    transition: z-index 0.4s ease;
    opacity: 0.5;
    transition: all 1s;
   
}
.slide:hover{
    opacity:1;
    transform: scale(1.1);
}
