@model IEnumerable<SustainAndGain.Models.ModelViews.HighscoreVM>


<table class="table">
    <thead>
        <tr>
            <th>
                Nr:
            </th>
            <th>
                Username:
                @*@Html.DisplayNameFor(model => model.User.UserName)*@
            </th>
            <th>
                Value:
                @*@Html.DisplayNameFor(model => model.CurrentValue)*@
            </th>

          

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            


        </tr>
}
    </tbody>
</table>
