@model IEnumerable<SustainAndGain.Models.Entities.UsersInCompetition>


<table class="table">
    <thead>
        <tr>
            <th>
                Username:
                @*@Html.DisplayNameFor(model => model.User.UserName)*@
            </th>
            <th>
                Value:
                @*@Html.DisplayNameFor(model => model.CurrentValue)*@
            </th>

            <th>
                Last updated:
                @*@Html.DisplayNameFor(model => model.LastUpdatedCurrentValue)*@
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedCurrentValue)
            </td>
        </tr>
}
    </tbody>
</table>
